{% extends 'base.html' %}


{% block content %}

<div class="container">
    <header class="row">
        <div class="col-12 cold-md-6" id="header-text">
            <h2>Avengers Assemble! Create your own API for your favorite Avengers!</h2>
            <h5>All you need in an API tool for marvel fans!</h5>
            <div>
                <button class="btn btn-primary">Documentation</button>
                <button class="btn btn-primary">Join The Team!</button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img class="header-image" src="../../static/images/shield.png" alt="Hero Header Image">
        </div>
    </header>

    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/api.png" alt="api image">
            <h4>Dedicated API Routes</h4>
            <p>
                If you are a fan of using traditional API routes, we have that for you!
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/graphql.png" alt="graphql image">
            <h4>GraphQL API Routes</h4>
            <p>
                If you want all the data from one endpoint, we have that too!
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/db.png" alt="database image">
            <h4>Backed by a PostgreSQL Database</h4>
            <p>
                All data will be persisted inside of a secure Postgres Database.
            </p>
        </div>
    </section>

    <section class="row">
        <div class="col-12 cold-md-6">
            <img src="../../static/images/groot.jpg" alt="Marvel Image" id="Marvel-image">
        </div>
        <div class="col-12 cold-md-6">
            <h4>Share your favorite avengers with others! Discuss comics and movies!</h4>
            <p>
                Share your love with others with this API! Whether it be Spiderman
                or Iron Man, everyone is welcome here!
            </p>
            <div>
                <button class="btn btn-primary">View On Github</button>
                <button class="btn btn-primary">Join Our Slack Channel</button>
            </div>
        </div>
    </section>

    <footer class="row" id="footer">
        <div class="col-2">
            <img src="../../static/images/marvel2.webp" alt="Marvel2 Logo" id="footer-logo">
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Marvel Movie List</p>
                <p>The Marvel Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Marvel Movie List</p>
                <p>The Marvel Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Marvel Movie List</p>
                <p>The Marvel Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Marvel Movie List</p>
                <p>The Marvel Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Marvel Movie List</p>
                <p>The Marvel Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer>

</div>

{% endblock content %}